* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}
.logo span {
    color: #e50914;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    color: #e50914;
}

/* Hero Section */
.hero {
    background: url("assets/images/banner.jpg") center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hero-content h1 {
    font-size: 48px;
}
.hero-content p {
    margin: 10px 0 20px;
    font-size: 18px;
    color: #ccc;
}

.btn {
    padding: 12px 20px;
    background: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}
.btn:hover {
    opacity: 0.8;
}

/* Movie Section */
.movies {
    padding: 40px 50px;
}

.movies h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    background: #111;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform .2s;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card:hover {
    transform: scale(1.05);
}
